# gitignore file for MazdaConfigurtorHTML5

#GIT
.orig

# Mac OS
.DS_Store
*.swp
*.lock
profile

# Webstorm
.Idea/

# Sass
.sass-cache/

# Bower
app/components

# Yeoman
dist
.tmp

# Node
node_modules

#Distributable
DISTRIBUTABLE/

